/* -------------------------------
        COIN TOSS

   Pick Heads or Tails

     [ HEADS ] [ TAILS ]

          [ TOSS ]

       You Won!

     Wins: 3   Losses: 2
------------------------------- */

body {
    background-color: rgb(242, 169, 100);
    font-family: serif;
}

.toss-box {
    color: azure;
    background-color: rgb(54, 129, 243);
    padding: 50px;
    margin: 250px;
    border: 5px solid #80ff00c6;
    border-radius: 40px;
    text-align: center;
}

.coin-options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.coin-side-image {
    height: 150px;
    border-radius: 50%;
}

.coin-button {
    background-color: lightgray;
    border-radius: 60px;
    border: 2px solid gray;
    padding: 0;
}
.coin-button:active{
    background-color: lightgreen;
}

.toss-button {
    margin-top: 20px;
    padding: 15px;

    border: none;
    border-radius: 40px;

    background-color: blueviolet;
    color: aliceblue;
    font-size: medium;
}
.toss-button:active{
    background-color: greenyellow;
    color: black;
}
.select-text {
    font-weight: normal;
}

.score {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 25px;
    font-size: medium;
    
}
.reset-button{
    border: none;
    border-radius: 40px;
    background-color: rgb(197, 41, 41);
    color: white;
    padding: 15px;
}
.reset-button:active{
    background-color: white;
    color: red;
}